{% extends 'base.html' %}

{% block title %}Cadastrar Projeto{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='cadastrarprojetos.css') }}">
{% endblock %}

{% block content %}

  <h2>Cadastrar Projeto</h2>

  <form class="form-cadastro" method="POST" action="{{ url_for('cadastrar_projeto') }}">

    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required><br><br>
  
    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" rows="4" required></textarea><br><br>

    <button type="submit">Cadastrar</button>
  </form>

  {% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
      <ul>
        {% for msg in mensagens %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

{% endblock %}
