{% extends 'base.html' %}

{% block title %}Editar Projeto{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='cadastrarprojetos.css') }}">
{% endblock %}

{% block content %}

  <h2>Editar Projeto</h2>

  <form class="form-cadastro" method="POST" action="{{ url_for('editar_projeto', id=projeto['id']) }}">

    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" value="{{ projeto['titulo'] }}" required><br><br>
  
    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" rows="4" required>{{ projeto['descricao'] }}</textarea><br><br>

    <button type="submit">Salvar Alterações</button>
  </form>

  {% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
      <ul>
        {% for msg in mensagens %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

{% endblock %}
