{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='logincadastro.css') }}">
{% endblock %}
{% block content %}

<h2>Login</h2>

<form method="POST" action="{{ url_for('login') }}">
  <!-- Formulário que envia os dados com método POST para a rota 'login'. -->

  <label for="email">E-mail:</label>
  <!-- Rótulo do campo de e-mail. -->
  <input type="email" name="email" required><br><br>

  <label for="password">Senha:</label>
  <!-- Rótulo do campo de senha. -->
  <input type="password" name="senha" required><br><br>

  <button type="submit">Entrar</button>
  <!-- Botão para enviar o formulário. -->
</form>

{% with mensagens = get_flashed_messages() %}

  {% if mensagens %}
    <ul>
      {% for msg in mensagens %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p>Não tem conta? <a href="{{ url_for('cadastrar_pessoa') }}">Cadastre-se</a>.</p>

{% endblock %}
