{% extends 'base.html' %}

{% block title %}Projetos Cadastrados{% endblock %}

{% block content %}
  <div class="container">
    <h2>Projetos Cadastrados</h2>

    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Descrição</th>
          <th>Autor</th>
        </tr>
      </thead>
      <tbody>
        {% for projeto in projetos %}
          <tr>
            <td>{{ projeto['titulo'] }}</td>
            <td>{{ projeto['descricao'] }}</td>
            <td>{{ projeto['usuario'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
